@model IEnumerable<BddFindCulpritTool.Models.PrRun>
@using BddFindCulpritTool.Controllers.HelperClasses
@{
    ViewData["Title"] = "Index";
}

<h1>PR List</h1>

<p>
    <a class="btn btn-primary" asp-action="ProcessThenCreateForm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reverse()) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@item.Link" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
            </td>
            <td>
                <div class="text-hide">{@Enum.TryParse(item.RunStatus.ToString(),out RunStatusEnum value);}</div>
                @value
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">